root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

[*.cs]
csharp_style_var_for_built_in_types = false:warning
resharper_member_can_be_private_global_highlighting = suggestion

[UnityCommandLineLauncher.sln.DotSettings]
ij_formatter_enabled = false